<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - lifeauthor</title>
    <base href="~/" />
    <style>
        body {
        background: #39454d; 
    }
    .move{
        border-radius: 8px;
        background-color : rgb(194, 191, 189);
        box-shadow: none;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 10px;
        border: 2px solid #4CAF50;
        outline: 3px;
        border-color: #39454d;
        margin-right: 10px;
        
    
    }
    .move:hover {
        background-color: #4CAF50; /* Green */
        color: white;
    }
    .buttonbox{
        margin-top: 30px;
        margin-left: 39%;
        margin-right: 35%;
        align-content: center;
    }
    </style>

    <!-- <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" /> -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/cosmo/bootstrap.min.css" rel="stylesheet" > -->
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
