<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - lifeauthor</title>
    <base href="~/" />
    <style>
        body {
        background: linear-gradient(to bottom, #003366 -25%, #33ccff 77%); 
    }
    </style>

    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/cosmo/bootstrap.min.css" rel="stylesheet" >
</head>
<body>
    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
