<fetchdata [weekday]='Monday' [monthday]='monthday1'></fetchdata>
<fetchdata [weekday]='Tuesday' [monthday]='monthday2'></fetchdata>
<fetchdata [weekday]='Wednesday' [monthday]='monthday3'></fetchdata>
<fetchdata [weekday]='Thursday' [monthday]='monthday4'></fetchdata>
<fetchdata [weekday]='Friday' [monthday]='monthday5'></fetchdata>
<fetchdata [weekday]='Saturday' [monthday]='monthday6'></fetchdata>
<fetchdata [weekday]='Sunday' [monthday]='monthday7'></fetchdata>

<p>{{thedate | json}}</p>
<h1>teste</h1>
