<fetchdata [weekday]='Monday' [monthday]='today'></fetchdata>
<fetchdata [weekday]='Tuesday' [monthday]='today'></fetchdata>
<fetchdata [weekday]='Wednesday' [monthday]='today'></fetchdata>
<fetchdata [weekday]='Thursday' [monthday]='today'></fetchdata>
<fetchdata [weekday]='Friday' [monthday]='today'></fetchdata>
<fetchdata [weekday]='Saturday' [monthday]='today'></fetchdata>
<fetchdata [weekday]='Sunday' [monthday]='today'></fetchdata>

<p>{{thedate | json}}</p>
<h1>{{monthday1 | date : "MMM, d"}} here</h1>
<h1>teste</h1>