<button (click)="showagenda()">Back to Agenda</button>
<form (submit)="eventadded()">
    <label>Time: <input type="time" name="time"></label>
    <label>Title: <input type="text" name="title"></label>
    <label>Description:<textarea></textarea></label>
    <select name="genre">
        <option value="Work">Work</option>
        <option value="Social">Social</option>
        <option value="Health">Health</option>
        <option value="Financial">Financial</option>      
        <option value="Spiritual">Spiritual</option>
        <option value="Intellectual">Intellectual</option>
    </select>
    <input type="submit" value="Submit">
</form>
