<button (click)="newagenda()">Add new event</button>

<div *ngFor="let agenda of eventList">
    <div *ngIf="agenda.category == 'Financial'" style="border: solid rgb(194, 191, 189) 4px; background-color: rgb(231, 75, 75);">
        <p class="grow" (click)="showdetails(agenda.id)">{{agenda.title}} {{agenda.start | date:'shortTime'}}-{{agenda.end | date :'shortTime'}}</p>
        <p style="display:none;" class="{{agenda.id}}">{{agenda.description}}</p>
        <p style="display:none;" class="{{agenda.id}}">{{agenda.category}}</p>
    </div>
    <div *ngIf="agenda.category == 'Work'" style="border: solid rgb(194, 191, 189) 4px; background-color: lightblue;">
        <p class="grow" (click)="showdetails(agenda.id)">{{agenda.title}} {{agenda.start | date:'shortTime'}}-{{agenda.end | date:'shortTime'}}</p>
        <p style="display:none;" class="{{agenda.id}}">{{agenda.description}}</p>
        <p style="display:none;" class="{{agenda.id}}">{{agenda.category}}</p>
    </div>
    <div *ngIf="agenda.category == 'Social'" style="border: solid rgb(194, 191, 189) 4px; background-color: rgb(194, 102, 236);">
        <p class="grow" (click)="showdetails(agenda.id)">{{agenda.title}} {{agenda.start | date:'shortTime'}}-{{agenda.end | date:'shortTime'}}</p>
        <p style="display:none;" class="{{agenda.id}}">{{agenda.description}}</p>
        <p style="display:none;" class="{{agenda.id}}">{{agenda.category}}</p>
    </div>
    <div *ngIf="agenda.category == 'Health'" style="border: solid rgb(194, 191, 189) 4px; background-color: khaki;">
        <p class="grow" (click)="showdetails(agenda.id)">{{agenda.title}} {{agenda.start | date:'shortTime'}}-{{agenda.end | date:'shortTime'}}</p>
        <p style="display:none;" class="{{agenda.id}}">{{agenda.description}}</p>
        <p style="display:none;" class="{{agenda.id}}">{{agenda.category}}</p>
    </div>
    <div *ngIf="agenda.category == 'Spiritual'" style="border: solid rgb(194, 191, 189) 4px; background-color: lightpink;">
        <p class="grow" (click)="showdetails(agenda.id)">{{agenda.title}} {{agenda.start | date:'shortTime'}}-{{agenda.end | date:'shortTime'}}</p>
        <p style="display:none;" class="{{agenda.id}}">{{agenda.description}}</p>
        <p style="display:none;" class="{{agenda.id}}">{{agenda.category}}</p>
    </div>
    <div *ngIf="agenda.category == 'Intellectual'" style="border: solid rgb(194, 191, 189) 4px; background-color: rgba(253, 173, 98, 0.877);">
        <p class="grow" (click)="showdetails(agenda.id)">{{agenda.title}} {{agenda.start | date:'shortTime'}}-{{agenda.end | date:'shortTime'}}</p>
        <p style="display:none;" class="{{agenda.id}}">{{agenda.description}}</p>
        <p style="display:none;" class="{{agenda.id}}">{{agenda.category}}</p>
    </div>
    
</div>