        <timeblock [hour]='x1' [weekday]='weekday' class="{{weekday}}1"></timeblock>
        <timeblock [hour]='x2' [weekday]='weekday' class="{{weekday}}2"></timeblock>
        <timeblock [hour]='x3' [weekday]='weekday' class="{{weekday}}3"></timeblock>
        <timeblock [hour]='x4' [weekday]='weekday' class="{{weekday}}4"></timeblock>
        <timeblock [hour]='x5' [weekday]='weekday' class="{{weekday}}5"></timeblock>
        <timeblock [hour]='x6' [weekday]='weekday' class="{{weekday}}6"></timeblock>
        <timeblock [hour]='x7' [weekday]='weekday' class="{{weekday}}7"></timeblock>
        <timeblock [hour]='x8' [weekday]='weekday' class="{{weekday}}8"></timeblock>
        <timeblock [hour]='x9' [weekday]='weekday' class="{{weekday}}9"></timeblock>
        <timeblock [hour]='x10' [weekday]='weekday' class="{{weekday}}10"></timeblock>
        <timeblock [hour]='x11' [weekday]='weekday' class="{{weekday}}11"></timeblock>
        <timeblock [hour]='x12' [weekday]='weekday' class="{{weekday}}12"></timeblock>
        <timeblock [hour]='x13' [weekday]='weekday' class="{{weekday}}13"></timeblock>
        <timeblock [hour]='x14' [weekday]='weekday' class="{{weekday}}14"></timeblock>
        <timeblock [hour]='x15' [weekday]='weekday' class="{{weekday}}15"></timeblock>
        <timeblock [hour]='x16' [weekday]='weekday' class="{{weekday}}16"></timeblock>
        <timeblock [hour]='x17' [weekday]='weekday' class="{{weekday}}17"></timeblock>
        <timeblock [hour]='x18' [weekday]='weekday' class="{{weekday}}18"></timeblock>
        <timeblock [hour]='x19' [weekday]='weekday' class="{{weekday}}19"></timeblock>
        <timeblock [hour]='x20' [weekday]='weekday' class="{{weekday}}20"></timeblock>
        <timeblock [hour]='x21' [weekday]='weekday' class="{{weekday}}21"></timeblock>
        <timeblock [hour]='x22' [weekday]='weekday' class="{{weekday}}22"></timeblock>
        <timeblock [hour]='x23' [weekday]='weekday' class="{{weekday}}23"></timeblock>
        <timeblock [hour]='x24' [weekday]='weekday' class="{{weekday}}24"></timeblock>
        