
    <div class="topAgenda">
      <h4 (click)="showing()">Agenda</h4>
      <div class="{{weekday}}_a_content">
        <timeblock [hour]='x1'></timeblock>
        <timeblock [hour]='x2'></timeblock>
        <timeblock [hour]='x3'></timeblock>
        <timeblock [hour]='x4'></timeblock>
        <timeblock [hour]='x5'></timeblock>
        <timeblock [hour]='x6'></timeblock>
        <timeblock [hour]='x7'></timeblock>
        <timeblock [hour]='x8'></timeblock>
        <timeblock [hour]='x9'></timeblock>
        <timeblock [hour]='x10'></timeblock>
        <timeblock [hour]='x11'></timeblock>
        <timeblock [hour]='x12'></timeblock>
        <timeblock [hour]='x13'></timeblock>
        <timeblock [hour]='x14'></timeblock>
        <timeblock [hour]='x15'></timeblock>
        <timeblock [hour]='x16'></timeblock>
        <timeblock [hour]='x17'></timeblock>
        <timeblock [hour]='x18'></timeblock>
        <timeblock [hour]='x19'></timeblock>
        <timeblock [hour]='x20'></timeblock>
        <timeblock [hour]='x21'></timeblock>
        <timeblock [hour]='x22'></timeblock>
        <timeblock [hour]='x23'></timeblock>
        <timeblock [hour]='x24'></timeblock>
    </div>
