
    <div class="topAgenda">
      <h4 (click)="showing()">Agenda</h4>
      <div class="{{weekday}}_a_content">
        <timeblock></timeblock>
        <timeblock></timeblock>
        <timeblock></timeblock>
        <timeblock></timeblock>
        <timeblock></timeblock>
        <timeblock></timeblock>
        <timeblock></timeblock>
        <timeblock></timeblock>
        <timeblock></timeblock>
        <timeblock></timeblock>
        <timeblock></timeblock>
        <timeblock></timeblock>
    </div>
