
    <div class="topAgenda">
      <h4 (click)="showing()">Agenda</h4>
      <div class="{{weekday}}_a_content">
        <div style="display:block; width: 196px; height: 30px; border:grey solid 1px;">
          <p>6am</p>
        </div>
        <div style="display:block; width: 196px; height: 30px; border:gray solid 1px;">
          <p>7am</p>
        </div>
        <div style="display:block; width: 196px; border:grey solid 1px;">
          <p>8am</p>
        </div>
        <div style="display:block; width: 196px; border:grey solid 1px;">
          <p>9am</p>
        </div>
        <div style="display:block; width: 196px; border:grey solid 1px;">
          <p>10am</p>
        </div>
        <div style="display:block; width: 196px; border:grey solid 1px;">
          <p>11am</p>
        </div>
        <div style="display:block; width: 196px; border:grey solid 1px;">
          <p>12pm</p>
        </div>
        <div style="display:block; width: 196px; border:grey solid 1px;">
          <p>1pm</p>
        </div>
    </div>
